.pageList {
    font-family: 'Arial';
    display: flex;
    font-size: 0.8em;
    color: #1165ff;
    justify-content: center;
}

.pageItem {
    display: inline-flex;
    padding: 0.4em;
    border: 1px #c0c0c0 solid;
    border-left-width: 0;
}

.pageItem:first-child {
    border-radius:  0.4em 0 0 0.4em;
    border-left-width: 1px;
}

.pageItem:last-child {
    border-radius:  0 0.4em 0.4em 0;
}

.pageItem:hover,
.pageItemActive {
    background-color: #1165ff;
    color: #fff;
}
