.header {
    display: flex;
    background: #000;
    font-family: 'Arial';
    font-size: 1em;
    vertical-align: center;
    justify-content: space-between;
}

.slots {
    display: flex;
    vertical-align: center;
}
