.login {
    padding: 0.8em 1em;
    display: inline-flex;
    font-size: 1em;
    font-family: 'Arial';
    background: #000;
    color: #fff;
    align-items: center;
}

.login:hover {
    background: #323131FF;
}
