.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    overflow: hidden;
    font-size: 14px;
}

@media screen and (max-width: 379px) {
    .header {
        font-size: 12px;
    }
}

.content {
    height: 100%;
    overflow: scroll;
    position: relative;
}
